# Hide .htaccess file from public direct
<Files .htaccess>
order allow,deny
deny from all
</Files>


RewriteEngine on
RewriteBase /PHP/MyLog/


RewriteRule ^account$ app_account.php [L]
RewriteRule ^welcome$ welcome.php [L]
RewriteRule ^signin$ index.php?q=signin [L]

RewriteRule ^home$ index.php [L]
RewriteRule ^post$ post.php [L]


# Testing
RewriteRule ^demo$ test/hash.php [L]


# Error document
ErrorDocument 403 /PHP/MyLog/errors/403.html
ErrorDocument 404 /PHP/MyLog/errors/404.html
ErrorDocument 500 /PHP/MyLog/errors/404.html


# Disable indexes
Options -Indexes
